<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>15604537408-gcvk3jmsr3bj6v1c5785rgo3punnpvta.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.15604537408-gcvk3jmsr3bj6v1c5785rgo3punnpvta</string>
	<key>API_KEY</key>
	<string>AIzaSyDgB49HLwsNMafAtN67Efxf_E7nbFvS3xQ</string>
	<key>GCM_SENDER_ID</key>
	<string>15604537408</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.scale3cTestApp</string>
	<key>PROJECT_ID</key>
	<string>scale3c-test-app</string>
	<key>STORAGE_BUCKET</key>
	<string>scale3c-test-app.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:15604537408:ios:0d34bfd076fb8676fc67a5</string>
</dict>
</plist>